%div.float-left.form-group.form-check.custom-switch
  = check_box('cluster', 'hana_ha_enabled', class: 'custom-control-input')
  %label.custom-control-label{ for: "cluster_hana_ha_enabled" }
    = t('page_subtitle.hana_ha_enabled_info')
