%div.float-right
  %label.form-check-label
    = check_box('deploy_log', 'autoscroll', class: 'form-check-input', checked: true)
    = t('autoscroll')
%p.clearfix
%hr
%pre.pre-scrollable
  = render 'output'
