%div#flash.alert.alert-danger.alter-dismissable.fade.show{style: 'display: none;'}
  %span#error_message
  %button.close{ type: 'button' }
    %i.eos-icons close
%h1 Deploy#show
%p This is the apply output
%p
  %div#editor.show_plan{ style: 'display: none;'}= @terraform_tfstate
- content_for :page_javascript do
  = javascript_include_tag 'deploys', defer: true
