%div#title
  %h1
    %i.eos-icons.eos-48#deploy{alt: t('deploy'), title: t('deploy') } deploy
    = t('title')
  %p.lead= t('lead')
%hr
= markdown(t('description'), escape_html: false)
%p.clearfix
%hr
%div.btn-group.float-right
  %a.btn.btn-lg.btn-secondary{ href: advanced_path , data: { toggle: 'tooltip'}, title: t('sidebar.sources') }
    %i.eos-icons edit
  %a.btn.btn-lg.btn-primary{ href: simple_path }
    %i.eos-icons fast_forward
    = t('sidebar.simple')
