%h1 Welcome#index

%div.d-flex.flex-row.justify-content-around
  %a.btn.btn-lg.btn-primary{ href: simple_path }
    %i.eos-icons fast_forward
    Simple
  %a.btn.btn-lg.btn-secondary{ href: advanced_path }
    %i.eos-icons edit
    Advanced
