@import "eos-branding";

#sidebar {
  background-color: $eos-bc-blue-500;
  color: $eos-bc-white;

  .list-group-item {
    background-color: inherit;
    color: inherit;

    a {
      background-color: inherit;
      color: inherit;
    }
  }
}

footer {
  background-color: $eos-bc-blue-500;
  color: $eos-bc-white;
}
