@import "eos-branding";

#sidebar {
  background-color: $eos-bc-blue-500;
  color: $eos-bc-white;

  .list-group-item {
    background-color: inherit;
    color: inherit;

    a {
      background-color: inherit;
      color: inherit;
    }
  }
}

footer {
  margin-left: 250px;//250 sidebar width TODO - consider putting menu width into a shared variable
  &.navbar {
    padding-left: 25px;//the main content has a left-padding of 40, but container-fluid divs
    // with the footer text, have a built-in pad of 15, so 40-15 = 25 to line up the footer with the content
  }
  span a, span a:hover {
    color: $eos-bc-cerulean-900;
  }
}

nav.active ~ footer {
  margin-left: 50px; //250 sidebar width minus-200 for collapsed margin left
}
