/* Primary colors variables. Shades generated at : http://mcg.mbitson.com/
   ========================================================================== */
/* brand color - green */
/* TODO: Add RGB Values */
$eos-bc-green-100: #e4f6ee; //rgb(228, 246, 238);
$eos-bc-green-500: #30ba78; //rgb(48, 186, 120);
$eos-bc-green-900: #139448; //rgb(23, 89, 57);

/* brand color - Pine */
$eos-bc-pine-500: #0c322c; //rgb(12, 50, 44);

/* brand color - cerulean */
$eos-bc-cerulean-100: #b3e8f6; //rgb(179, 232, 246);
$eos-bc-cerulean-500: #00b2e2; //rgb(0, 178, 226);
$eos-bc-cerulean-900: #008acf; //rgb(0, 138, 207);

/* brand color - red */
$eos-bc-red-100: #f5c2c7; //rgb(245, 194, 199);
$eos-bc-red-500: #dc3545; //rgb(220, 53, 69);
$eos-bc-red-900: #c5161f; //rgb(197, 22, 31);

/* brand color - yellow */
$eos-bc-yellow-100: #ffecb5; //rgb(255, 236, 181);
$eos-bc-yellow-500: #ffc107; //rgb(255, 193, 7);
$eos-bc-yellow-900: #ff9e02; //rgb(255, 158, 2);

/* brand color - gray */
$eos-bc-gray-50: #f2f2f2; //rgb(242, 242, 242);
$eos-bc-gray-100: #e0dfdf; //rgb(224, 223, 223);
$eos-bc-gray-300: #b6b4b4; //rgb(182, 180, 180);
$eos-bc-gray-500: #969494; //rgb(150, 148, 148);
$eos-bc-gray-700: #797777; //rgb(121, 119, 119);
$eos-bc-gray-900: #686565; //rgb(104, 101, 101);
$eos-bc-gray-1000: #141823; //rgb(20, 24, 35);

/* brand color - neutral */
$eos-bc-white: #ffffff; //rgb(255, 255, 255);

/* size variables */
$eos-md-18: 18px;
$eos-md-24: 24px;
$eos-md-36: 36px;
$eos-md-48: 48px;

/* Rules for sizing the icon. */
.md-18 { font-size: $eos-md-18; }
.md-24 { font-size: $eos-md-24; }
.md-36 { font-size: $eos-md-36; }
.md-48 { font-size: $eos-md-48; }

/* Fonts */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), font-url('Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), font-url('Lato-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), font-url('Lato-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), font-url('Lato-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: font-url('WorkSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: font-url('WorkSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: font-url('WorkSans-SemiBold.ttf') format('truetype');
}

