%div.form-group{ class: key }
  %label{ for: "variables[#{key}]" }= key.titleize
  %input.form-control{ type: 'text', name: "variables[#{key}]", value: value }
  - if defined?(description)
    %small.form-text.text-muted= description
