= form_for(@variables, url: variables_path, method: :put) do |form|
  - @variables.attributes.each do |key, value|
    - next if @excluded.include?(key)
    = render(@variables.type(key), key: key, value: value, description: @variables.description(key))
  %div#actions.btn-toolbar.d-flex.flex-row.justify-content-end.w-100
    %div.btn-group.ml-2
      %button#submit-source{ type: 'submit', class: 'btn btn-primary' }
        %i.eos-icons.md-18 save
        Save
