%h1 This is your current plan
%h4 This plan will be used to deploy
%p
  %div#editor.show_plan{ style: 'display: none;'}= @show_output

- content_for :page_javascript do
  :javascript
    $(function(){
      var editor = show_plan('#editor');
      editor.session.setMode("ace/mode/json");
    });
