This tool is
%a{ href: 'https://www.gnu.org/philosophy/free-sw.html', target: '_blank', rel: 'noopener noreferrer' } free software
released under the
%a{ href: Rails.configuration.x.source_link + 'blob/master/LICENSE' , target: '_blank', rel: 'noopener noreferrer' } GPLv3 license
\.
